<h1>create user form</h1>

<form [formGroup]="userForm">
    <label for="">name:</label>
    <input type="text" formControlName="name">
    <div class="text-danger" *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
        <p *ngIf="userForm.get('name')?.errors?.['required']">Name is required</p>
        <p *ngIf="userForm.get('name')?.errors?.['minlength']">Name should be min 3 chars</p>
        <p *ngIf="userForm.get('name')?.errors?.['maxlength']">Name should be max 10 chars</p>
       
    </div>
       <br>
       <label for="">age:</label>
       <input type="number" formControlName="age">
    <div class="text-danger" *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
        <p *ngIf="userForm.get('age')?.errors?.['required']">Age is required</p>
        <p *ngIf="userForm.get('age')?.errors?.['min']"> min 3 years</p>
        <p *ngIf="userForm.get('age')?.errors?.['max']"> max 10 years</p>
       
    </div>

    <br>
    <label for="">phone:</label>
    <input type="number" formControlName="phone">
    <div class="text-danger" *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
        <p *ngIf="userForm.get('phone')?.errors?.['required']">phone is required</p>
        <p *ngIf="userForm.get('phone')?.errors?.['min']"> min 1000000000 numbers</p>
        <p *ngIf="userForm.get('phone')?.errors?.['max']"> max 9999999999 numbers</p>
       
    </div>
    <br>
    <br>
    <label for="">email:</label>
    <input type="text" formControlName="email">
    <div class="text-danger" *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
        <p *ngIf="userForm.get('email')?.errors?.['required']">email is required</p>
        <p *ngIf="userForm.get('email')?.errors?.['email']">invalid email format</p>
        
       
    </div>
    <br>
    <div formGroupName="address">

        <label for="">state:</label>
        <input type="text" formControlName="state">
        <div class="text-danger" *ngIf="userForm.get('address')?.get('state')?.touched && userForm.get('address')?.get('state')?.invalid">
            <p *ngIf="userForm.get('address')?.get('state')?.errors?.['required']">state is required</p>
            
            
           
        </div>


        <br>
        <label for="">pin:</label>
        <input type="text" formControlName="pin">
        <div class="text-danger" *ngIf="userForm.get('address')?.get('pin')?.touched && userForm.get('address')?.get('pin')?.invalid">
            <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['required']">pin number required</p>
            <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['min']">max 999999 numbers</p>
            <p *ngIf="userForm.get('address')?.get('pin')?.errors?.['max']">max 999999 numbers</p>
        </div>
        <br>
     <button (click)="add()">Add card</button>

     <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls;let i=index">
            <div formGroupName="{{i}}">
                <label for="">number:</label>
                <input type="number" formControlName="number">
                <div class="text-danger" *ngIf="cardsFormArray.controls[i]?.get('number')?.touched && userForm.get('number')?.invalid">
                    <p *ngIf="cardsFormArray.controls[i]?.get('number')?.errors?.['required']">card number is required</p>
                </div>
                <br>
                <label for="">expiry:</label>
                <input type="month" formControlName="expiry">
                <br>
                <label for="">cvv:</label>
                <input type="number" formControlName="cvv">

                <div class="text-danger" *ngIf="cardsFormArray.controls[i]?.get('cvv')?.touched && userForm.get('cvv')?.invalid">
                    <p *ngIf="cardsFormArray.controls[i]?.get('cvv')?.errors?.['required']">cvv number is required</p>
                    <p *ngIf="cardsFormArray.controls[i]?.get('cvv')?.errors?.['min']">max 100 numbers</p>
                    <p *ngIf="cardsFormArray.controls[i]?.get('cvv')?.errors?.['max']">max 999 numbers</p>
                </div>
                <br>

                <button class="btn btn-danger" (click)="delete(i)">delete</button>


                <hr>
            </div>
        </div>
    </div>
        <label for="">type</label>
        <label for="">Dayscholor</label>
        <input type="radio" name="type" formControlName="type" value="Dayscholor">
        <label for="">Residential</label>
        <input type="radio" name="type" formControlName="type" value="Residential">
        <br>

      <div *ngIf="userForm.get('type')?.value=='Dayscholor'">
          <label for="">busFee:</label>
          <input type="number" formControlName="busFee">
          <br>
      </div>
      <div *ngIf="userForm.get('type')?.value=='Residential'">
         <label for="">hostelFee</label>
         <input type="number" formControlName="hostelFee">
         <br>
      </div>

     <button  [disabled]="userForm.invalid" class="btn btn-success" (click)="submit()">submit</button>

    </div>
    
</form>


