<div class="parent">
    <div class="child" *ngFor="let banking of bankings">
        <p>{{banking.account_name}}</p>
        <p>{{banking.available_balance}}</p>
        <p>{{banking.account_number}}</p>
        <p>{{banking.id}}</p>
        <p>{{banking.sno}}</p>
        <p>{{banking.EmployeeId}}</p>
        <p>{{banking.EmployeeName}}</p>
        <p>{{banking.BillacilityStatus}}</p>
        <p>{{banking.Location}}</p>
        <p>{{banking.Band}}</p>
        <p>{{banking.Yrsofexp}}</p>
        <p>{{banking.RollOverdate}}</p>
        <p>{{banking.RollOverQuarter}}</p>
        <p>{{banking.PRP}}</p>
        <p>{{banking.Codility}}</p>
        <p>{{banking.ReadyforDeploymentskill}}</p>
        <p>{{banking.Profile}}</p>
        <p>{{banking.PropsedCustomer1}}</p>
        <p>{{banking.PropsedCustomer2}}</p>
        <p>{{banking.PropsedCustomer3}}</p>
        <p>{{banking.PropsedCustomer4}}</p>
        <p>{{banking.PropsedCustomer5}}</p>
        <p>{{banking.ReasonforRejection}}</p>
        <p>
            
            <img src="{{banking.image}}" alt="" width="100px" height="100px">
        </p>
        

    </div>



    </div>

