.parent{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    display: flex;
}
.child1{
    width: 25%;
    height: 100%;
    background-color:paleturquoise
    ;
}
.child2{
    width:75%;
    height:100%;
    background-color:blueviolet;
    overflow: auto;
}