<div class="parent">

    <div class="child1">
        <h1 routerLink="directives">directives</h1>
        <h1 routerLink="login">login</h1>
        <h1 routerLink="home">home</h1>
        <h1 routerLink="databinding">databinding</h1>
        <h1 routerLink="rectangle">rectangle</h1>
        <h1 routerLink="calculator">calculator</h1>
        <h1 routerLink="grade">grade</h1>
        <h1 routerLink="directivetask">directivetask</h1>
        <h1 routerLink="employes">employes</h1>
        <h1 routerLink="cart">cart</h1>
        <h1 routerLink="student">student</h1>
        <h1 routerLink="phone">phone</h1>
        <h1 routerLink="vehicle">vehicle</h1>
        <h1 routerLink="product">product</h1>
        <h1 routerLink="banking">banking</h1>
        <h1 routerLink="create-vehicle">create-vehicle</h1>
        <h1 routerLink="studentform">studentform</h1>
        <h1 routerLink="create-student">create-student</h1>
        <h1 routerLink="email">email</h1>
        <h1 routerLink="gallery">gallery</h1>
        <h1 routerLink="create-user">createuser</h1>
        <h1 routerLink="parent">parent</h1>
        <h1 routerLink="items">items</h1>
        <h1 routerLink="nav">nav</h1>
        <h1 routerLink="cartlist">cartlist</h1>
        




        <h1>    
        </h1>
        
        <button class="logout"(click)="logout()">logout</button>
    </div>
    <div class="child2">
        <router-outlet></router-outlet>
    </div>

</div>

    




